@font-face {
  font-family: "Poppins-Semibold";
  src: url("./fonts/Poppins-SemiBold.ttf");
}
@font-face {
  font-family: "Poppins-Regular";
  src: url("./fonts/Poppins-Regular.ttf");
}

@font-face {
  font-family: "NanumSquare-Regular";
  src: url(./fonts/NanumSquareR.otf),
    url(./fonts/NanumSquareR.ttf) format("truetype");
}

@font-face {
  font-family: "NanumSquare";
  font-weight: 300;
  src: url(./fonts/NanumSquareL.otf),
    url(./fonts/NanumSquareL.ttf) format("truetype");
}

$button-color: darkslateblue;
$primary-color: #2f2586;
$secondary-color: #f9513e;
$dark-primary-color: #27292d;
$dark-secondary-color: #373a46;
$dark-tertiary-color: #85899a;

// Modno Bright
$levis-clear-purple: #dcdfe4;
$auro-peppermint: #d5dbe0;
$berger-clear-to-see: #d0dade;
$sherwin-williams-wishful-blue: #d8dde6;
$delta-drizzle-grey: #d1d3d4;

// Mono Medium
$california-paints-baby-seal: #a1a5a8;
$trumatch-29-g7: #a0a6aa;
$kelly-moore-camp-muir: #5e6469;

// Mono Dark
$ecos-paints-quiet-peace: #49536b;

// Blue tone
$clark-kensington-stowe-mountain: #717593;

body {
  color: #434649;
  width: 100%;
  overflow-x: hidden;
  text-rendering: optimizeLegibility;
  font: 15px/1.5 "Poppins-Regular", "NanumSquare-Regular";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  .hide {
    display: none;
  }

  .tilde {
    display: flex;
    align-items: center;
    margin: 0 0.25rem;
  }
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

address {
  font-style: normal;
}

/* Page Loader */
.js .loading::before,
.js .loading::after {
  content: "";
  position: fixed;
  z-index: 1000;
}

.js .loading::before {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #080c2b;
}

.js .loading::after {
  top: 50%;
  left: 50%;
  width: 60px;
  height: 60px;
  margin: -30px 0 0 -30px;
  border-radius: 50%;
  opacity: 0.4;
  background: $primary-color;
  animation: loaderAnim 0.7s linear infinite alternate forwards;
}

@keyframes loaderAnim {
  to {
    opacity: 1;
    transform: scale3d(0.5, 0.5, 1);
  }
}

a {
  font-family: "Poppins-Regular", "NanumSquare-Regular", sans-serif;
  text-decoration: none;
  color: #444;
  outline: none;
  transition: 0.4s;
}

a:hover,
a:focus,
a.active {
  outline: none;
  text-decoration: none;
}

.js-image {
  max-width: 100%;
  display: block;
}

.loaded .js-image {
  opacity: 0;
}

.row {
  display: flex;
}

.container {
  padding: 0; /* bootstrap */
  width: 100%;
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  display: flex;
}

.flex-container {
  display: flex;
}

section {
  position: relative;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
}

.add-input {
  width: 100%;
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
  line-height: 1.2;
}

small {
  font-family: "NanumSquare-Regular", sans-serif;
  line-height: 1.2;
}

.active {
  opacity: 1 !important;
  visibility: visible !important;
  display: flex !important;
}

fieldset {
  border-radius: 0.5rem;
  border: 1px solid #ddd;
}

input {
  -webkit-appearance: none;
  height: auto;
  border: 1px solid #ddd;
  padding: 0.5rem 0.25rem;
  font: 15px/1 "NanumSquare-Regular";
  background-color: white;
  outline: 0;
  box-sizing: border-box;
  border-radius: 0.25rem;
  position: relative;

  &:read-only {
    background-color: rgba($sherwin-williams-wishful-blue, 0.5);

    &:focus {
      border: 1px solid #ddd;
    }
  }

  &:focus {
    border: 1px solid slateblue;
  }

  &:disabled {
    background-color: rgba(0, 0, 0, 0.1);

    &:focus {
      border: 1px solid #ddd;
    }
  }

  /* Chrome, Safari, Edge, Opera */
  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Firefox */
  &[type="number"] {
    -moz-appearance: textfield;
  }

  &::-ms-clear,
  &::-ms-reveal {
    display: none;
    width: 0;
    height: 0;
  }

  &::-webkit-search-decoration,
  &::-webkit-search-cancel-button,
  &::-webkit-search-results-button,
  &::-webkit-search-results-decoration {
    display: none;
  }
}

input:focus,
select:focus,
button:focus {
  outline: 0;
}

label {
  font-weight: normal; /* bootstrap*/
  margin-bottom: 0; /* bootstrap*/
}

button {
  font: 15px/1 "NanumSquare-Regular";
  display: flex;
  align-items: center;
  border: 0;
  background: $button-color;
  color: white;
  border-radius: 0.3rem;
  padding: 0;
  cursor: pointer;
  user-select: none;

  svg + span {
    margin-left: 0.2rem;
  }
}

.btn-submit {
  background-color: $primary-color !important;
  border: 0 !important;
}

.btn-cancel {
  background-color: rgba(0, 0, 0, 0.1);
}

.btn-modify {
  background-color: $secondary-color;
  color: #333;
  width: 2rem;
  height: 2rem;
  padding: 0;
}

.btn-download {
  background-color: $delta-drizzle-grey !important;
}

textarea {
  font: 15px/1 "Nanumsquare-Regular";
  flex: 1 1 auto;
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 0.25rem;
  padding: 0.5rem;
  resize: none;

  &:focus {
    outline: 0;
  }
}

.toggle-menu {
  border-radius: 0.5rem;
  width: 2.5rem;
  height: 2.5rem;
  -webkit-tap-highlight-color: transparent;
  user-select: none;
  transition: all 0.2s;
  cursor: pointer;

  &.active {
    transform: rotate(45deg);

    path:nth-of-type(1) {
      stroke-dashoffset: -98px;
    }

    path:nth-of-type(3) {
      stroke-dashoffset: -138px;
    }
  }

  path {
    fill: none;
    transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
    stroke: white;
    stroke-width: 5.5;
    stroke-linecap: round;

    &:nth-of-type(1) {
      stroke-dasharray: 40 139;
    }

    &:nth-of-type(3) {
      stroke-dasharray: 40 180;
    }
  }
}

header {
  flex: 0 0 auto;
  display: flex;
  align-content: center;
  justify-content: space-between;
  box-sizing: border-box;

  a {
    display: flex;
  }

  .logo {
    line-height: 1;
  }

  .menu {
    user-select: none;
    display: flex;
    align-items: center;
    cursor: pointer;
  }

  button {
    padding: 0.5rem 2rem;
  }
}

.container > header {
  padding: 0 1rem;
}

main {
  flex: 1 1 auto;
  display: flex;
}

aside {
  flex-grow: 0;
  flex-shrink: 0;
  flex-direction: column;
  transition: 0s;

  ul {
    flex-direction: column;

    li {
      flex: 1 1 auto;
    }
  }
}

.flex-wrapper {
  display: flex;
}

.content {
  opacity: 0;
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  animation: fadeInOpacity 0.4s forwards;
  transition: 0.2s border-color;
}

.content-title {
  flex: 0 0 auto;
  padding: 0 1rem;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;

  h1 {
    font: normal 2rem/1 "Nanumsquare-regular";
    flex: 1 1 auto;
  }
}

.content .title p {
  color: #5e5c67;
  font-size: 16px;
}

.content-view {
  flex: 0 1 auto;
  padding: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1200px;
  width: 100%;
  position: relative;
}

.content-title + .content-view {
  padding: 0 1rem 1rem 1rem;
}

.wrapper {
  flex: 1 1 auto;
  margin: 0 auto;
  width: 1200px;
  max-width: 1600px;
  display: flex;
  box-sizing: border-box;
  position: relative;
}

.input-container {
  display: flex;
  align-content: center;
  margin-bottom: 1rem;
  position: relative;

  label {
    align-self: center;
  }

  input {
    flex: 1 1 auto;
  }

  div {
    display: flex;
    align-items: center;

    input {
      flex: 1 1 auto;
    }
  }
}

.buttons {
  display: flex;
  gap: 0.5rem;

  button {
  }
}

/* Progress */

.progress-wrap {
  position: fixed;
  right: 50px;
  bottom: 50px;
  height: 46px;
  width: 46px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-content: center;
  border-radius: 50px;
  z-index: 10000;
  opacity: 0;
  visibility: hidden;
  background-color: lightsteelblue;
  transform: translateY(15px);
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
}

.progress-wrap.active-progress {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.progress-wrap svg.progress-circle path {
  stroke: white;
  stroke-width: 4;
  box-sizing: border-box;
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
}

.progress-wrap svg {
  fill: white;
  align-self: center;
}

/* Pagination */

.pagination {
  margin: 2rem auto;
}

.pagination ul {
  display: flex;
}

.pagination li {
  margin: 0 1rem;
  color: $kelly-moore-camp-muir;
  display: flex;
  align-items: center;
}

.pagination .active {
  color: #36299f;
  font-weight: bold;
}

.pagination svg {
  fill: $delta-drizzle-grey;
}

/* ,Checkbox */
.checkbox {
  display: flex;
  align-items: center;
  position: relative;
  user-select: none;

  input {
    position: absolute;
    opacity: 0;

    &:checked + label::before {
      background: #333;
      border-color: #333;
    }
  }

  label {
    flex: 1 1 auto !important;
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;
    padding: 0;
    line-height: 1;
    transition: 0.2s color;

    &::before {
      border-radius: 2px;
      transition: 0.2s;
      content: "";
      margin-right: 3px;
      width: 16px;
      height: 16px;
      border: 1px solid #ccc;
      background-color: white;
    }
  }

  + .checkbox {
    margin-left: 1rem;
  }
}

.checkbox input:checked + label:after {
  content: "";
  width: 10px;
  height: 6px;
  position: absolute;
  top: 3px;
  left: 3px;
  border: 2px solid white;
  border-top: none;
  border-right: none;
  background: transparent;
  opacity: 1;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

/* Radio Button */
input[type="radio"] {
  position: absolute;
  opacity: 0;
}

input[type="radio"] + label {
  cursor: pointer;
  margin-right: 1rem;
}

input[type="radio"] + label:before {
  content: "";
  background: #f3f6f9;
  border-radius: 100%;
  border: 1px solid #e3e6e9;
  display: inline-block;
  width: 14px;
  height: 14px;
  position: relative;
  margin-right: 3px;
  vertical-align: middle;
  transition: all 0.2s ease;
}

input[type="radio"]:hover + label:before,
input[type="radio"]:checked + label:before {
  border-color: #ccc !important;
  background-color: #333 !important;
  box-shadow: inset 0 0 0 2px #ddd;
}

input[type="radio"]:focus + label:before {
  outline: none;
}

input[type="radio"]:disabled + label {
  cursor: auto;
}

input[type="radio"]:disabled:checked + label:before {
  box-shadow: inset 0 0 0 2px #f4f4f4;
  border-color: #b4b4b4;
  background: #b4b4b4;
}

input[type="radio"]:disabled + label:before {
  border-color: #b4b4b4;
  background: #f4f4f4;
}

input[type="radio"] + label:empty:before {
  margin-right: 0;
}

.input-comment {
  flex: 1 1 100% !important;
}

/* Input File */
.input-file-container {
  position: relative;

  .input-file {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    padding: 0.5rem 0;
    cursor: pointer;
  }

  .input-file-trigger {
    display: block;
    font: normal 13px/1 "NanumSquare";
    padding: 0.5rem;
    background: $clark-kensington-stowe-mountain;
    border-radius: 0.25rem;
    color: #fff;
    transition: all 0.4s;
    cursor: pointer;
  }

  .input-file:hover + .input-file-trigger,
  .input-file:focus + .input-file-trigger,
  .input-file-trigger:hover,
  .input-file-trigger:focus {
    opacity: 0.7;
  }
}

.file-return {
  &:not(:empty) {
    &::before {
      content: "Selected file: ";
    }
  }
}

/*selectbox*/
.selectbox {
  position: relative;
  box-sizing: border-box;
  align-items: center;
  display: flex;
  min-width: 8rem;

  &::-ms-expand {
    display: none;
  }

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    right: 0.7rem;
    width: 0;
    height: 0;
    margin-top: -6px;
    border: solid black;
    border-width: 0 1px 1px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
  }

  label {
    white-space: nowrap;
    margin-right: 0.5rem;
  }

  select {
    border: 1px solid #ddd;
    border-radius: 0.3rem;
    display: flex;
    flex: 1 1 auto;
    width: 100%;
    -webkit-appearance: none;
    padding: 0.5rem 1.5rem 0.5rem 0.25rem;
    height: auto;
    font: 15px/1 "NanumSquare-Regular";
    background-color: white;
    outline: 0;
    box-sizing: border-box;
    cursor: pointer;
  }

  + .selectbox {
    margin-left: 0.5rem;
  }
}

/* Tab Menu */
.tabs {
  display: flex;

  li {
    transition: 0.4s;
    cursor: pointer;

    &:hover,
    &.active {
      color: $secondary-color;
    }
  }
}

.tab-content > div {
  display: none;

  &.active {
    flex-direction: column;
  }

  h3 {
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 1rem;

    + p {
      text-align: center;
    }
  }
}

/*table*/
.table {
  width: 100%;
  margin: 0 auto 1rem;
  display: flex;
  flex-direction: column;
  user-select: none;

  button {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0;
    background: $california-paints-baby-seal;
    color: white;
    border-radius: 0.2rem;
    padding: 0.25rem 0.5rem;
    margin: 0 0.25rem;
    cursor: pointer;
  }

  .title {
    font: 14px/1 "Poppins-Regular", "Nanumsquare-Regular";
    color: $kelly-moore-camp-muir !important;
    word-break: keep-all;
    border-radius: 0;
    background-color: transparent !important;
    padding: 0.75rem 0 !important;
    cursor: default;
  }

  .row {
    flex: 1 1 auto;
    display: flex;
    align-items: center;
    text-align: center;
    padding: 0.5rem 0;
    position: relative;
    animation: fadeInOpacity 0.8s forwards;
    gap: 0.25rem;

    li {
      flex: 1 1 auto;
      display: flex;
      justify-content: center;
    }

    span {
      display: flex;
    }
  }
}

.table-footer {
  flex: 0 0 40px;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  position: relative;
}

.pagenation {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);

  a {
    padding: 0.5rem;
    display: flex;
    align-items: center;

    &.active {
      color: #f9513e;
    }

    svg + svg {
      margin-left: -1rem;
    }
  }
}

/* =====================================================
   Toggle buttons
   ===================================================== */
.toggle {
  display: block;
  text-align: center;
  user-select: none;
}

.toggle-checkbox {
  display: none;
}

.toggle-button {
  display: block;
  background-color: #e3e6e9;
  margin: 0 auto;
  font-size: 1.4em;
  transition: 0.2s;
}

.toggle-button:hover {
  cursor: pointer;
}

.toggle .toggle-button {
  position: relative;
  height: 22px;
  width: 36px;
  border-radius: 25px;
}

.toggle .toggle-feature {
  display: block;
  position: absolute;
  top: 3px;
  left: 3px;
  fill: white;
  border-radius: 50%;
  transition: 0.2s;
}

.toggle .toggle-checkbox:checked + .toggle-button {
  background-color: $secondary-color;
  fill: white;
}

.toggle .toggle-checkbox:checked + .toggle-button > * {
  left: 16px;
}

/* Toggle Checkbox */

.toggle-activation {
  flex: 1 1 100%;
  flex-direction: row-reverse;
  align-items: center;
}

.toggle-activation .toggle {
  display: flex;
  width: 40px;
  height: 80%;
}

.toggle-activation label {
  flex: 0 0 auto !important;
  margin-right: 0.5rem;
}

.toggle-activation .toggle-button {
  height: 20px;
  border-radius: 30px;
  flex: 0 0 100% !important;
  background-color: #f9513e;
}

.toggle-activation .toggle-feature {
  top: -2px;
  left: -2px;
  width: 24px;
  height: 24px;
  background-color: white;
  border-radius: 50%;
}

.toggle-activation .toggle-checkbox:checked + .toggle-button {
  background-color: lightseagreen;
}

.toggle-activation .toggle-checkbox:checked + .toggle-button > * {
  left: 16px;
}

/* =====================================================
   Modal Effect
   ===================================================== */
.modal-container {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.25s;
  z-index: -1;

  &.active {
    z-index: 1;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      height: 100vh;
      background-color: rgba(0, 0, 0, 0.6);
    }
    .modal {
      z-index: 10;
    }
  }
}

.modal {
  gap: 0.5rem;
  background: white;
  flex-direction: column;
  display: flex;
  border-radius: 0.5rem;
  box-sizing: border-box;
  overflow-x: hidden;
  overflow-y: auto;
  cursor: default;

  .close {
    cursor: pointer;
  }

  header {
    flex: 0 0 auto;
    flex-direction: column !important;
  }

  .title {
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .row {
    padding: 0;
  }

  .modal-content {
    overflow-y: auto;
  }

  section {
    flex: 1 1 auto;
    overflow-y: auto;
  }
}

.modal {
  width: 50vw;
  height: 50vh;
  max-height: 60%;

  &.modal-alert {
    max-width: 500px;
    max-height: 200px;
    align-items: center;
    padding: 1rem;

    section {
      display: flex;
      flex-direction: column;
      align-items: center;

      &.modal-content {
        justify-content: space-around;

        svg {
          width: 3rem;
          height: 3rem;
          fill: gainsboro;
        }
      }

      &.buttons {
        flex: 0 0 auto;

        button {
          background-color: #4655e2;
          margin-top: 1rem;
          padding: 0.75rem 1.5rem;
        }
      }
    }
  }
}

/* Scrollbar */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 6px;
  background-color: #eee;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  background-color: #eee;
}

::-webkit-scrollbar-thumb {
  border-radius: 6px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #a3a6a9;
}

@keyframes fadeInOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* =====================================================
   Dark mode
   ===================================================== */
.dark-mode,
.dark-mode main {
  background-color: $dark-primary-color !important;
  color: white;
}

.dark-mode a {
  color: white;
}

.dark-mode .button-cancel {
  background-color: $dark-tertiary-color;
  color: white;
}

.dark-mode p,
.dark-mode label {
  color: #d0d3dc !important;
}

.dark-mode input,
.dark-mode select {
  background-color: #484c5a !important;
  color: white;
}

.dark-mode .selectbox::before {
  border: solid $secondary-color;
  border-width: 0 1px 1px 0;
}

.dark-mode header {
  border-color: $dark-secondary-color !important;
}

.dark-mode aside {
  background-color: $dark-primary-color !important;
}

.dark-mode .menu {
  background-color: $dark-primary-color;
  color: white;
  border-color: #393b40;
}

.dark-mode .menu a {
  color: #ccc;
  transition: 0.2s color;
}

.dark-mode .content {
  background: $dark-secondary-color !important;
}

.dark-mode svg {
  fill: rgba(255, 255, 255, 0.3);
}

.dark-mode .table .row {
  background-color: $dark-secondary-color;
}

.dark-mode .table .row span {
  color: #d0d3dc;
}

.dark-mode input[type="radio"] + label:before {
  background-color: #373a46;
  border-color: $dark-primary-color;
}

.dark-mode input[type="radio"]:hover + label:before,
.dark-mode input[type="radio"]:checked + label:before {
  box-shadow: inset 0 0 0 2px $dark-primary-color;
}

@media screen and (max-width: 768px) {
  .wrapper {
    width: auto;
    max-width: none;
  }

  .modal {
    padding: 0 !important;
    width: 90vw;
  }
}
