aside {
  background-color: #2c303b;
  padding: 1rem;

  .logo {
    color: gainsboro;
    margin: 1rem auto 3rem;
    text-align: center;
    font-size: 14px;
    background-repeat: no-repeat;
    background-position: top center;
    background-size: auto 36px;
    padding-top: 3rem;

    &.brand-lg {
      background-image: url(images/logo_lg.png);

      &::before {
        content: "Winder Monitoring";
      }
    }

    &.brand-jmsoft {
      background-image: url(images/logo_jmsoft.png);

      &::before {
        content: "Monitoring";
      }
    }
  }

  nav {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    a {
      color: white;
      padding: 0.75rem;

      &:hover,
      &.active {
        color: white;
        background-color: #4655e2;
        border-radius: 0.25rem;
      }
    }
  }
}

main {
  flex-direction: column;
  padding: 2rem;
  background-color: #e3e6e9;
  gap: 1rem;

  header {
  }

  .chart {
    border: 1px solid gainsboro;
    background-color: white;
    border-radius: 0.75rem;
    padding: 1rem;
    position: relative;
  }
  .tooltip {
    position: absolute;
    top: 1rem;
    left: 1rem;
    z-index: 2;
    cursor: pointer;

    svg {
      fill: slategray;
    }

    &:before,
    &:after {
      visibility: hidden;
      opacity: 0;
      pointer-events: none;
      white-space: nowrap;
      transition: opacity 0.2s;
    }

    &:before {
      position: absolute;
      bottom: 100%;
      left: 50%;
      margin-bottom: 5px;
      transform: translateX(-50%);
      padding: 7px;
      width: fit-content;
      border-radius: 3px;
      background-color: #000;
      background-color: hsla(0, 0%, 20%, 0.9);
      color: #fff;
      content: attr(data-tooltip);
      text-align: center;
      font-size: 14px;
      line-height: 1.2;
    }

    &:after {
      position: absolute;
      bottom: 100%;
      left: 50%;
      margin-left: -5px;
      width: 0;
      border-top: 5px solid #000;
      border-top: 5px solid hsla(0, 0%, 20%, 0.9);
      border-right: 5px solid transparent;
      border-left: 5px solid transparent;
      content: " ";
      font-size: 0;
      line-height: 0;
    }

    &:hover:before,
    &:hover:after {
      visibility: visible;
      opacity: 1;
    }
  }
}

.ico-video {
  &::before {
    content: "\25B6";
    color: white;
    background-color: #4655e2;
    border-radius: 2rem;
    width: 20px;
    height: 20px;
    font-size: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1;
  }
}

.list-header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .datetime {
    .date {
      font-size: 13px;
      color: slategray;
    }
  }

  .total {
    font-weight: bold;
    &::before {
      font: 13px/1 normal;
      content: "총";
      margin-right: 0.5rem;
    }

    &::after {
      font: 13px/1 normal;
      content: "건";
    }
  }
}

.table {
  .rows {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    cursor: pointer;
  }
}

.image-container {
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;

  .image {
    position: relative;
  }

  span {
    position: absolute;
    color: white;
    padding: 0.25rem 0.5rem;
    border-radius: 0.5rem;

    &[data-status="normal"] {
      background-color: seagreen;
    }

    &[data-status="abnormal"] {
      background-color: orange !important;
    }

    &[data-status="fault"] {
      background-color: tomato !important;
    }
  }
}

.streaming {
  display: flex;
  gap: 2rem;
  margin: 0 auto;
  user-select: none;

  .fault {
    .status {
      animation: blink 2s infinite alternate;
    }
  }

  li {
    flex: 1 1 auto;
    border-radius: 0.5rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    position: relative;

    .title {
    }

    .status {
      border-radius: 50%;
      width: 0.75rem;
      height: 0.75rem;
      position: relative;

      &::before {
        content: "";
        opacity: 0.5;
        position: absolute;
        width: 120%;
        height: 120%;
        border-radius: 50%;
        filter: blur(3px);
      }
    }

    &.normal {
      &::before {
        background-color: seagreen;
      }
      .status {
        background-color: seagreen;

        &::before {
          background-color: seagreen;
        }
      }
    }

    &.abnormal {
      &::before {
        background-color: orange;
      }
      .status {
        background-color: orange;

        &::before {
          background-color: orange;
        }
      }
    }

    &.fault {
      &::before {
        background-color: tomato;
      }
      .status {
        background-color: tomato;

        &::before {
          background-color: tomato;
        }
      }
    }
  }
}

.dashboard {
  .streaming {
    width: 50%;
    max-width: 500px;
    gap: 1rem;

    li {
      flex-basis: 33.333%;
      padding: 1.25rem 0 0.75rem;
      flex-direction: column;
      background-color: rgba(255, 255, 255, 0.5);
      cursor: pointer;

      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        width: 100%;
        height: 5px;
        border-radius: 0.5rem 0.5rem 0 0;
      }

      .title {
        font-size: 1.15rem;
      }

      .status {
        font-size: 13px;
        color: white;
        width: 2.5rem;
        height: 2.5rem;
        display: flex;
        align-items: center;
        justify-content: center;

        &::after {
          z-index: 3;
        }
      }

      &.normal {
        .status {
          &::after {
            content: "정상";
          }
        }
      }

      &.abnormal {
        .status {
          &::after {
            content: "이상";
          }
        }
      }

      &.fault {
        .status {
          &::after {
            content: "이상";
          }
        }
      }
    }
  }

  .image-container {
    flex: 1 1 auto;
    background: white;
    border-radius: 1rem;
  }
}

.alarm {
  .charts {
    flex: 1 1 auto;
    height: 600px;

    .chart {
      height: 100%;
    }
  }
  .information {
    flex: 0 0 50%;
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 1.5rem;
    background-color: white;
    border: 1px solid gainsboro;
    border-radius: 0.75rem;
    overflow: hidden;

    .list {
      flex: 1 1 auto;
      display: flex;
      flex-direction: column;
      height: 100%;

      .list-header {
        flex: 0 0 auto;
        align-items: flex-end;
      }

      .table {
        overflow: hidden;

        .row {
          li {
            &:nth-of-type(1) {
              flex: 1 1 20%;
            }

            &:nth-of-type(2) {
              flex: 1 1 35%;
            }

            &:nth-of-type(3) {
              flex: 1 1 35%;
            }

            &:nth-of-type(4) {
              flex: 1 1 10%;
            }
          }
        }

        .rows {
          overflow-y: auto;
          .row {
            border: 1px solid gainsboro;
            background-color: white;
            border-radius: 0.25rem;
          }
        }
      }
    }

    .video {
      flex: 0 0 30%;
      max-width: 400px;

      video {
        width: 100%;
      }
    }
  }
}

.monitoring {
  overflow: hidden;
  height: 100%;

  section {
    flex: 0 0 auto;
  }

  .streaming {
    position: absolute;
    top: 1.5rem;
    background-color: #e6edf7;
    border-radius: 0.5rem;
    padding: 1rem 2rem;
  }

  .tabs {
    gap: 0.5rem;
    align-items: center;
    justify-content: center;
    font-size: 1.15rem;

    .tab {
      user-select: none;
      padding: 0.5rem 2rem;
      transition: background-color 0.2s;

      &:hover,
      &.active {
        background-color: #4655e2;
        color: white;
        border-radius: 0.25rem;
        cursor: pointer;
      }
    }
  }

  .flex-container {
    flex: 1 1 auto;
    gap: 1rem;
  }

  .image-container {
    flex: 0 0 auto;
    border: 1px solid gainsboro;
    background-color: white;
    border-radius: 0.5rem;
    flex-direction: column;
    padding: 2rem;
    position: relative;

    img {
      width: 600px;
    }
  }

  .charts {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  .chart {
    flex: 1 1 25%;
  }
}

.dashboard {
  .text-01 {
    top: 22%;
    left: 5%;
  }

  .text-02 {
    top: 31%;
    left: 11%;
  }

  .text-03 {
    top: 31%;
    left: -3%;
  }

  .text-04 {
    top: 40%;
    left: 4%;
  }
  .text-05 {
    top: 44%;
    left: 45%;
  }

  .text-06 {
    top: 53%;
    right: 41%;
  }

  .text-07 {
    top: 42%;
    right: 18%;
  }

  .text-08 {
    top: 0;
    right: 0;
  }
}

.sub-motor {
  .text-01 {
    bottom: 4%;
    left: 35%;
  }

  .text-02 {
    top: 30%;
    left: 49%;
  }

  .text-03 {
    top: 30%;
    left: 5%;
  }

  .text-04 {
    top: 39%;
    left: 13%;
  }
}

.cylinder {
  .image-container {
    img {
      width: 800px;
    }
  }

  .text-01 {
    top: 41%;
    left: 2%;
  }

  .text-02 {
    top: 63%;
    left: 2%;
  }

  .text-03 {
    top: 1%;
    right: 8%;
  }
}

.quality {
  .image-container {
    img {
    }
  }

  .text-01 {
    top: 21%;
    left: 18%;
  }

  .text-02 {
    top: 30%;
    right: 11%;
  }

  .text-03 {
    top: 62%;
    left: 18%;
  }

  .text-04 {
    top: 58%;
    left: 38%;
  }
}

@keyframes fade {
  40% {
    opacity: 1;
  }
  42% {
    opacity: 0.1;
  }
  43% {
    opacity: 1;
  }
  44% {
    opacity: 0.1;
  }
  45% {
    opacity: 1;
  }
}

@keyframes blink {
  40% {
    opacity: 1;
  }
  50% {
    opacity: 0.3;
  }
  60% {
    opacity: 1;
  }
}
