<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Winder Monitoring</title>
  <link rel="stylesheet" href="assets/main.css">
  <script type="text/javascript" src="http://ajax.aspnetcdn.com/ajax/jquery/jquery-2.1.4.min.js"></script>
  <script type="text/javascript" src="http://ajax.aspnetcdn.com/ajax/globalize/0.1.1/globalize.min.js"></script>
  <script type="text/javascript" src="http://cdn3.devexpress.com/jslib/15.2.5/js/dx.chartjs.js"></script>
</head>

<body>
  <div class="container">
    {% macro active(activePage='home') %}
    <aside>
      <div class="logo brand-lg"></div>
      <nav>
        <a class="{%if activePage == 'home' %} active {% endif %}" href="index.html">설비 모니터링</a>
        <a class="{%if activePage == 'alarm' %} active {% endif %}" href="alarm.html">알람 모니터링</a>
        <a class="{%if activePage == 'subMotor' %} active {% endif %}" href="sub_motor.html">서브모터 부하율 모니터링</a>
        <a class="{%if activePage == 'cylinder' %} active {% endif %}" href="cylinder.html">실린더 동작시간 모니터링</a>
        <a class="{%if activePage == 'quality' %} active {% endif %}" href="quality.html">품질(사행) 모니터링</a>
      </nav>
    </aside>
    {% endmacro %}
    {% block content %}
    {% endblock %}
  </div>
</body>

</html>