{% extends "base.html" %}
{% block content %}
{% import 'base.html' as nav %}
{{nav.active('home')}}
<main class="dashboard">
  {% import "header.html" as forms %}
  {{forms.title("설비 모니터링")}}
  <ul class="streaming">
    <li class="fault">
      <div class="status"></div>
      <div class="title">모터</div>
    </li>
    <li class="abnormal">
      <div class="status"></div>
      <div class="title">실린더</div>
    </li>
    <li class="normal">
      <div class="status"></div>
      <div class="title">품질</div>
    </li>
    <li class="normal">
      <div class="status"></div>
      <div class="title">센서</div>
    </li>
  </ul>
  <div class="image-container">
    <div class="image">
      <img src="assets/images/main.png" alt="">
      <span class="text-01" data-status="fault">터렛회전</span>
      <span class="text-02" data-status="normal">권심회전#1</span>
      <span class="text-03" data-status="abnormal">권심회전#2</span>
      <span class="text-04" data-status="fault">권심회전#3</span>
      <span class="text-05" data-status="normal">맨드릴가이드실린더</span>
      <span class="text-06" data-status="normal">터치롤실린더</span>
      <span class="text-07" data-status="abnormal">2차권심전진실린더</span>
      <span class="text-08" data-status="normal">센서</span>
    </div>
  </div>
</main>
<div class="modal-container">
  <div class="modal modal-alert">
    <section class="modal-content">
      <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24">
        <path d="M0 0h24v24H0z" fill="none" />
        <path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm1 15h-2v-2h2v2zm0-4h-2V7h2v6z" />
      </svg>
      <h3>알림창입니다.</h3>
      <p>알림창입니다. 내용을 입력해주세요.</p>
    </section>
    <section class="buttons">
      <button class="close" type="button">확인</button>
    </section>
  </div>
</div>
<script>
  $(function () {
    var highAverage = 77,
      lowAverage = 58;

    $("#chart").dxChart({
      dataSource: dataSource,
      customizePoint: function () {
        if (this.value > highAverage) {
          return { color: "#ff7c7c", hoverStyle: { color: "#ff7c7c" } };
        } else if (this.value < lowAverage) {
          return { color: "#8c8cff", hoverStyle: { color: "#8c8cff" } };
        }
      },
      customizeLabel: function () {
        if (this.value > highAverage) {
          return {
            visible: true,
            backgroundColor: "#ff7c7c",
            customizeText: function () {
              return this.valueText + "&#176F";
            },
          };
        }
      },
      export: {
        enabled: true,
      },
      valueAxis: {
        visualRange: {
          startValue: 40,
        },
        maxValueMargin: 0.01,
        label: {
          customizeText: function () {
            return this.valueText + "&#176F";
          },
        },
        constantLines: [
          {
            label: {
              text: "Low Average",
            },
            width: 2,
            value: lowAverage,
            color: "#8c8cff",
            dashStyle: "dash",
          },
          {
            label: {
              text: "High Average",
            },
            width: 2,
            value: highAverage,
            color: "#ff7c7c",
            dashStyle: "dash",
          },
        ],
      },
      series: [
        {
          argumentField: "day",
          valueField: "temperature",
          type: "bar",
          color: "#e7d19a",
        },
      ],
      title: {
        text: "터렛 유닛 터렛 회전",
        font: {
          size: 18,
        }
      },
      legend: {
        visible: false,
      },
    });
  });


  var dataSource = [{
    day: '1',
    temperature: 57
  }, {
    day: '2',
    temperature: 58
  }, {
    day: '3',
    temperature: 57
  }, {
    day: '4',
    temperature: 59
  }, {
    day: '5',
    temperature: 63
  }, {
    day: '6',
    temperature: 63
  }, {
    day: '7',
    temperature: 63
  }, {
    day: '8',
    temperature: 64
  }, {
    day: '9',
    temperature: 64
  }, {
    day: '10',
    temperature: 64
  }, {
    day: '11',
    temperature: 69
  }, {
    day: '12',
    temperature: 72
  }, {
    day: '13',
    temperature: 75
  }, {
    day: '14',
    temperature: 78
  }, {
    day: '15',
    temperature: 76
  }, {
    day: '16',
    temperature: 70
  }, {
    day: '17',
    temperature: 65
  }, {
    day: '18',
    temperature: 65
  }, {
    day: '19',
    temperature: 68
  }, {
    day: '20',
    temperature: 70
  }, {
    day: '21',
    temperature: 73
  }, {
    day: '22',
    temperature: 73
  }, {
    day: '23',
    temperature: 75
  }, {
    day: '24',
    temperature: 78
  }, {
    day: '25',
    temperature: 76
  }, {
    day: '26',
    temperature: 76
  }, {
    day: '27',
    temperature: 80
  }, {
    day: '28',
    temperature: 76
  }, {
    day: '29',
    temperature: 75
  }, {
    day: '30',
    temperature: 75
  }, {
    day: '31',
    temperature: 74
  }];
</script>
{% endblock %}