{% extends "base.html" %}
{% block content %}
{% import 'base.html' as nav %}
{{nav.active('subMotor')}}
<main class="monitoring sub-motor">
  {% import "header.html" as forms %}
  {{forms.title("서브모터 모니터링")}}
  <section class="flex-container">
    <div class="image-container">
      <ul class="streaming">
        <li class="fault">
          <div class="status"></div>
          <div class="title">터렛회전</div>
        </li>
        <li class="normal">
          <div class="status"></div>
          <div class="title">권심회전#1</div>
        </li>
        <li class="abnormal">
          <div class="status"></div>
          <div class="title">권심회전#2</div>
        </li>
        <li class="fault">
          <div class="status"></div>
          <div class="title">권심회전#3</div>
        </li>
      </ul>
      <div class="image">
        <img src="assets/images/sub_motor.png" alt="유닛 3D image">
        <span class="text-01" data-status="fault">터렛회전</span>
        <span class="text-02" data-status="normal">권심회전#1</span>
        <span class="text-03" data-status="abnormal">권심회전#2</span>
        <span class="text-04" data-status="fault">권심회전#3</span>
      </div>
    </div>
    <div class="charts">
      <div class="chart" id="chart">
        <span class="tooltip" data-tooltip="터렛 유닛 모터 TurRot">
          <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24">
            <path d="M0 0h24v24H0z" fill="none" />
            <path
              d="M11 18h2v-2h-2v2zm1-16C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm0 18c-4.41 0-8-3.59-8-8s3.59-8 8-8 8 3.59 8 8-3.59 8-8 8zm0-14c-2.21 0-4 1.79-4 4h2c0-1.1.9-2 2-2s2 .9 2 2c0 2-3 1.75-3 5h2c0-2.25 3-2.5 3-5 0-2.21-1.79-4-4-4z" />
          </svg>
        </span>
      </div>
      <div class="chart" id="chart-02">
        <span class="tooltip" data-tooltip="터렛 유닛 모터 TurWd1">
          <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24">
            <path d="M0 0h24v24H0z" fill="none" />
            <path
              d="M11 18h2v-2h-2v2zm1-16C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm0 18c-4.41 0-8-3.59-8-8s3.59-8 8-8 8 3.59 8 8-3.59 8-8 8zm0-14c-2.21 0-4 1.79-4 4h2c0-1.1.9-2 2-2s2 .9 2 2c0 2-3 1.75-3 5h2c0-2.25 3-2.5 3-5 0-2.21-1.79-4-4-4z" />
          </svg>
        </span>
      </div>
      <div class="chart" id="chart-03">
        <span class="tooltip" data-tooltip="터렛 유닛 모터 TurWd2">
          <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24">
            <path d="M0 0h24v24H0z" fill="none" />
            <path
              d="M11 18h2v-2h-2v2zm1-16C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm0 18c-4.41 0-8-3.59-8-8s3.59-8 8-8 8 3.59 8 8-3.59 8-8 8zm0-14c-2.21 0-4 1.79-4 4h2c0-1.1.9-2 2-2s2 .9 2 2c0 2-3 1.75-3 5h2c0-2.25 3-2.5 3-5 0-2.21-1.79-4-4-4z" />
          </svg>
        </span>
      </div>
      <div class="chart" id="chart-04">
        <span class="tooltip" data-tooltip="터렛 유닛 모터 TurWd3">
          <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24">
            <path d="M0 0h24v24H0z" fill="none" />
            <path
              d="M11 18h2v-2h-2v2zm1-16C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm0 18c-4.41 0-8-3.59-8-8s3.59-8 8-8 8 3.59 8 8-3.59 8-8 8zm0-14c-2.21 0-4 1.79-4 4h2c0-1.1.9-2 2-2s2 .9 2 2c0 2-3 1.75-3 5h2c0-2.25 3-2.5 3-5 0-2.21-1.79-4-4-4z" />
          </svg>
        </span>
      </div>
    </div>
  </section>
</main>
<script>
  $(function () {
    var highAverage = 77,
      lowAverage = 58;

    $("#chart").dxChart({
      dataSource: dataSource,
      customizePoint: function () {
        if (this.value > highAverage) {
          return { color: "#ff7c7c", hoverStyle: { color: "#ff7c7c" } };
        } else if (this.value < lowAverage) {
          return { color: "#8c8cff", hoverStyle: { color: "#8c8cff" } };
        }
      },
      customizeLabel: function () {
        if (this.value > highAverage) {
          return {
            visible: true,
            backgroundColor: "#ff7c7c",
            customizeText: function () {
              return this.valueText + "&#176F";
            },
          };
        }
      },
      export: {
        enabled: true,
      },
      valueAxis: {
        visualRange: {
          startValue: 40,
        },
        maxValueMargin: 0.01,
        label: {
          customizeText: function () {
            return this.valueText + "&#176F";
          },
        },
        constantLines: [
          {
            label: {
              text: "Low Average",
            },
            width: 2,
            value: lowAverage,
            color: "#8c8cff",
            dashStyle: "dash",
          },
          {
            label: {
              text: "High Average",
            },
            width: 2,
            value: highAverage,
            color: "#ff7c7c",
            dashStyle: "dash",
          },
        ],
      },
      series: [
        {
          argumentField: "day",
          valueField: "temperature",
          type: "bar",
          color: "#e7d19a",
        },
      ],
      title: {
        text: "터렛 유닛 터렛 회전",
        font: {
          size: 18,
        }
      },
      legend: {
        visible: false,
      },
    });

    $("#chart-02").dxChart({
      dataSource: dataSource,
      customizePoint: function () {
        if (this.value > highAverage) {
          return { color: "#ff7c7c", hoverStyle: { color: "#ff7c7c" } };
        } else if (this.value < lowAverage) {
          return { color: "#8c8cff", hoverStyle: { color: "#8c8cff" } };
        }
      },
      customizeLabel: function () {
        if (this.value > highAverage) {
          return {
            visible: true,
            backgroundColor: "#ff7c7c",
            customizeText: function () {
              return this.valueText + "&#176F";
            },
          };
        }
      },
      export: {
        enabled: true,
      },
      valueAxis: {
        visualRange: {
          startValue: 40,
        },
        maxValueMargin: 0.01,
        label: {
          customizeText: function () {
            return this.valueText + "&#176F";
          },
        },
        constantLines: [
          {
            label: {
              text: "Low Average",
            },
            width: 2,
            value: lowAverage,
            color: "#8c8cff",
            dashStyle: "dash",
          },
          {
            label: {
              text: "High Average",
            },
            width: 2,
            value: highAverage,
            color: "#ff7c7c",
            dashStyle: "dash",
          },
        ],
      },
      series: [
        {
          argumentField: "day",
          valueField: "temperature",
          type: "bar",
          color: "#e7d19a",
        },
      ],
      title: {
        text: "터렛 유닛 권심회전 #1",
        font: {
          size: 18,
        }
      },
      legend: {
        visible: false,
      },
    });

    $("#chart-03").dxChart({
      dataSource: dataSource,
      customizePoint: function () {
        if (this.value > highAverage) {
          return { color: "#ff7c7c", hoverStyle: { color: "#ff7c7c" } };
        } else if (this.value < lowAverage) {
          return { color: "#8c8cff", hoverStyle: { color: "#8c8cff" } };
        }
      },
      customizeLabel: function () {
        if (this.value > highAverage) {
          return {
            visible: true,
            backgroundColor: "#ff7c7c",
            customizeText: function () {
              return this.valueText + "&#176F";
            },
          };
        }
      },
      export: {
        enabled: true,
      },
      valueAxis: {
        visualRange: {
          startValue: 40,
        },
        maxValueMargin: 0.01,
        label: {
          customizeText: function () {
            return this.valueText + "&#176F";
          },
        },
        constantLines: [
          {
            label: {
              text: "Low Average",
            },
            width: 2,
            value: lowAverage,
            color: "#8c8cff",
            dashStyle: "dash",
          },
          {
            label: {
              text: "High Average",
            },
            width: 2,
            value: highAverage,
            color: "#ff7c7c",
            dashStyle: "dash",
          },
        ],
      },
      series: [
        {
          argumentField: "day",
          valueField: "temperature",
          type: "bar",
          color: "#e7d19a",
        },
      ],
      title: {
        text: "터렛 유닛 권심회전 #2",
        font: {
          size: 18,
        }
      },
      legend: {
        visible: false,
      },
    });

    $("#chart-04").dxChart({
      dataSource: dataSource,
      customizePoint: function () {
        if (this.value > highAverage) {
          return { color: "#ff7c7c", hoverStyle: { color: "#ff7c7c" } };
        } else if (this.value < lowAverage) {
          return { color: "#8c8cff", hoverStyle: { color: "#8c8cff" } };
        }
      },
      customizeLabel: function () {
        if (this.value > highAverage) {
          return {
            visible: true,
            backgroundColor: "#ff7c7c",
            customizeText: function () {
              return this.valueText + "&#176F";
            },
          };
        }
      },
      export: {
        enabled: true,
      },
      valueAxis: {
        visualRange: {
          startValue: 40,
        },
        maxValueMargin: 0.01,
        label: {
          customizeText: function () {
            return this.valueText + "&#176F";
          },
        },
        constantLines: [
          {
            label: {
              text: "Low Average",
            },
            width: 2,
            value: lowAverage,
            color: "#8c8cff",
            dashStyle: "dash",
          },
          {
            label: {
              text: "High Average",
            },
            width: 2,
            value: highAverage,
            color: "#ff7c7c",
            dashStyle: "dash",
          },
        ],
      },
      series: [
        {
          argumentField: "day",
          valueField: "temperature",
          type: "bar",
          color: "#e7d19a",
        },
      ],
      title: {
        text: "터렛 유닛 권심회전 #3",
        font: {
          size: 18,
        }
      },
      legend: {
        visible: false,
      },
    });
  });


  var dataSource = [{
    day: '1',
    temperature: 57
  }, {
    day: '2',
    temperature: 58
  }, {
    day: '3',
    temperature: 57
  }, {
    day: '4',
    temperature: 59
  }, {
    day: '5',
    temperature: 63
  }, {
    day: '6',
    temperature: 63
  }, {
    day: '7',
    temperature: 63
  }, {
    day: '8',
    temperature: 64
  }, {
    day: '9',
    temperature: 64
  }, {
    day: '10',
    temperature: 64
  }, {
    day: '11',
    temperature: 69
  }, {
    day: '12',
    temperature: 72
  }, {
    day: '13',
    temperature: 75
  }, {
    day: '14',
    temperature: 78
  }, {
    day: '15',
    temperature: 76
  }, {
    day: '16',
    temperature: 70
  }, {
    day: '17',
    temperature: 65
  }, {
    day: '18',
    temperature: 65
  }, {
    day: '19',
    temperature: 68
  }, {
    day: '20',
    temperature: 70
  }, {
    day: '21',
    temperature: 73
  }, {
    day: '22',
    temperature: 73
  }, {
    day: '23',
    temperature: 75
  }, {
    day: '24',
    temperature: 78
  }, {
    day: '25',
    temperature: 76
  }, {
    day: '26',
    temperature: 76
  }, {
    day: '27',
    temperature: 80
  }, {
    day: '28',
    temperature: 76
  }, {
    day: '29',
    temperature: 75
  }, {
    day: '30',
    temperature: 75
  }, {
    day: '31',
    temperature: 74
  }];
</script>
{% endblock %}